@tailwind base;
@tailwind components;
@tailwind utilities;

.btn1 {
  background-image: linear-gradient(
    90deg,
    #6549d5 2.49%,
    rgba(227, 63, 161, 0.91) 45.31%,
    #fb5343 100%
  );
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  background-size: 200% auto;
  transition: background-position 0.2s;
}
